.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.content-register {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    padding: 40px;
}

.title-register {
    color: #FF6347;
    text-align: center;
    margin-bottom: 30px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    color: #4A4A4A;
    font-weight: bold;
}

.input-register {
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #FFB74D;
    border-radius: 5px;
    font-size: 16px;
}

.button-register-submit {
    margin-top: 25px;
    padding: 12px;
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.button-register-submit:hover {
    background-color: #FF7F50;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #FF6347;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}