.footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .15)
}

.footer-content p {
    margin: 0;
    font-size: 14px;
    color: black;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #ff6347;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer-links a {
        font-size: 14px;
    }
}